@using Azaliq.Data.Models.Models.Enum.Phone
@model IEnumerable<Azaliq.ViewModels.Store.StoreLocationViewModel>

@{
    ViewData["Title"] = "Store Locations";
}

<h2>@ViewData["Title"]</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <a asp-action="Create" class="btn btn-primary mb-3">Add New Store</a>
}

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Map</th>
        <th>Address</th>
        <th>Phone</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach(var store in Model)
    {
        <tr>
            <td>@store.Name</td>
            <td>
                <a asp-action="Map" asp-route-id="@store.Id" class="btn btn-info btn-sm">
                    View Map
                </a>
            </td>
            <td>@store.Address</td>
            <td>@(store.CountryCode.ToPhonePrefix()) @store.Phone</td>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@store.Id" class="btn btn-warning btn-sm me-1">Edit</a>
                    <a asp-action="Delete" asp-route-id="@store.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }
    </tbody>
</table>